In [36]:
import pandas as pd
bdata = pd.read_csv('bank-full.csv',';')
bdata.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [37]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
#to encode the data to float

from collections import Counter
Counter(bdata.y)

Counter({'no': 39922, 'yes': 5289})

In [45]:
bdata.job = enc.fit_transform(bdata.job)
bdata.month = enc.fit_transform(bdata.month)
bdata.age = enc.fit_transform(bdata.age)
bdata.balance = enc.fit_transform(bdata.balance)
bdata.loan = enc.fit_transform(bdata.loan)
bdata.contact = enc.fit_transform(bdata.contact)
bdata.y = enc.fit_transform(bdata.y)

In [46]:
X = bdata.loc[:, ['month', 'age', 'job', 'balance', 'loan', 'contact']] # duration is not included because the new data will not have that
y = bdata.y

In [53]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=5, stratify= y)

## KNN

In [54]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(Xtrain, ytrain)

yPred = clf.predict(Xtest)

In [55]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

print(accuracy_score(ytest, yPred))
confusion_matrix(ytest, yPred)


##  [1218,  104]], dtype=int64) this is garbage from the point of business,there are solutions to work on this but we 
# need to find that

0.8742811642926657

array([[9778,  203],
       [1218,  104]], dtype=int64)

## Decision Tree

In [50]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(Xtrain, ytrain)
y_Pred = clf.predict(Xtest)
print(accuracy_score(ytest, yPred))
confusion_matrix(ytest, yPred)

0.8749308857679974

array([[7826,  159],
       [ 972,   86]], dtype=int64)

## logistic regression

In [51]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(Xtrain, ytrain)
y_Pred = clf.predict(Xtest)

from sklearn.metrics import r2_score
r2_score(ytest, y_Pred)

0.03625250086707488

In [52]:
print(accuracy_score(ytest, yPred))
confusion_matrix(ytest, yPred)

0.8749308857679974

array([[7826,  159],
       [ 972,   86]], dtype=int64)